node_modules
.git
.github
.husky
.next
.swc
.vscode
.dockerignore
.env.*
.gitignore
.gitattributes
.lintstagedrc.mjs
.prettierrc.json
docker-compose*.yml
Dockerfile
GitVersion.yml
*.tsbuildinfo
next-env.d.ts
README.md
