.git
.github
.husky
.next
.swc
.vscode
node_modules
playwright-report
test-results
.dockerignore
.env*
.gitattributes
.gitignore
.lintstagedrc.js
.prettierrc.json
docker-compose*.yml
Dockerfile
eslint.config.js
LICENSE
next-env.d.ts
playwright.config.ts
README.md
*.tsbuildinfo
vite.config.ts
vitestSetup.ts
