DATABASE_URL=postgres://postgres:password@localhost:5432/halcyon-nextjs

EMAIL_SMTP_SERVER=localhost
EMAIL_SMTP_PORT=1025
EMAIL_SMTP_SSL=
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=
EMAIL_NO_REPLY_ADDRESS=noreply@example.com

SEED_EMAIL_ADDRESS=system.administrator@example.com
SEED_PASSWORD=super_secret_password_that_should_be_changed

SESSION_DURATION=3600
SESSION_SECRET=super_secret_key_that_should_be_changed