name: halcyon

services:
    halcyon-nextjs:
        image: halcyon-nextjs:latest
        build:
            context: .
        environment:
            DATABASE_URL: postgres://postgres:password@host.docker.internal:5432/halcyon-nextjs
            EMAIL_SMTP_SERVER: host.docker.internal
            EMAIL_SMTP_PORT: 1025
            EMAIL_NO_REPLY_ADDRESS: noreply@example.com
            SEED_EMAIL_ADDRESS: system.administrator@example.com
            SEED_PASSWORD: super_secret_password_that_should_be_changed
            SESSION_DURATION: 3600
            SESSION_SECRET: super_secret_key_that_should_be_changed
            TWO_FACTOR_ISSUER: Halcyon
            ENCRYPTION_KEY: GZqvNnVvKJw5j7N3mZ9PZ2P+7nGk8Hk9c1Z6xZr8L2U=
        ports:
            - 3000:3000

    postgres:
        image: postgres:17.6
        user: postgres
        environment:
            POSTGRES_PASSWORD: password
        ports:
            - 5432:5432
        volumes:
            - postgres:/var/lib/postgresql/data
        restart: always
        healthcheck:
            test: ['CMD', 'pg_isready']
            interval: 10s
            timeout: 5s
            retries: 3

    mailpit:
        image: axllent/mailpit:v1.22.3
        environment:
            MP_DATABASE: /data/mailpit.db
        ports:
            - 1025:1025
            - 8025:8025
        volumes:
            - mailpit:/data
        restart: always

volumes:
    postgres:
        name: halcyon-postgres
    mailpit:
        name: halcyon-mailpit
