name: CI Build and Publish

on:
    push:
        branches: ['main', 'develop', 'feature/**', 'release/**', 'hotfix/**']
    workflow_dispatch:

env:
    NEXT_TELEMETRY_DISABLED: 1

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        environment: ${{ github.ref_name == 'main' && 'production' || 'preview' }}
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: 'npm'

            - name: Install GitVersion
              uses: gittools/actions/gitversion/setup@v3.1.1
              with:
                  versionSpec: '6.0.x'

            - name: Determine Version
              id: version_step
              uses: gittools/actions/gitversion/execute@v3.1.1

            - name: Build and lint
              run: |
                  npm version "${{ steps.version_step.outputs.semVer }}-${{ steps.version_step.outputs.shortSha }}" --no-git-tag-version
                  npm ci
                  npm run lint
                  npm run build

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GitHub container registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ github.token }}

            - name: Lowercase the repo name
              run: echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}

            - name: Build and push container image to registry
              uses: docker/build-push-action@v5
              with:
                  file: ./Dockerfile
                  context: .
                  push: true
                  provenance: false
                  tags: |
                      ghcr.io/${{ env.REPO }}:${{ steps.version_step.outputs.semVer }}
                      ghcr.io/${{ env.REPO }}:${{ steps.version_step.outputs.semVer }}-${{ steps.version_step.outputs.shortSha }}
                      ghcr.io/${{ env.REPO }}:${{ steps.version_step.outputs.preReleaseLabel || 'latest' }}

            - name: Log in to Azure
              uses: azure/login@v2
              with:
                  creds: ${{ secrets.AZURE_CREDENTIALS }}

            - name: Trigger deployment
              uses: azure/container-apps-deploy-action@v1
              with:
                  containerAppName: ${{ secrets.AZURE_CONTAINER_APP_NAME }}
                  resourceGroup: ${{ secrets.AZURE_RESOURCE_GROUP }}
                  imageToDeploy: ghcr.io/${{ env.REPO }}:${{ steps.version_step.outputs.semVer }}-${{ steps.version_step.outputs.shortSha }}
